body{
    background-color:#F5E0C3 ;
    font-family:'Apple Chancery, cursive';
    color:white

}
h1{
    text-align: center;
    margin-top: 20px;
}
.imagem-com-borda {
    border: 5px solid white; /* Define a borda com 5 pixels de largura e cor branca */
    border-radius: 10px; /* Adiciona bordas arredondadas (opcional) */
}
.item {
    flex: 1 1 200px; /* Cresce e encolhe conforme necessário, com largura mínima de 200px */
}

.image-container img:hover {
    transform: scale(1.1); /* Aumenta a imagem em 10% */
}
container{
    display:flexbox;
}
